VITE_SUPABASE_URL=https://pmcjmazshpgkfsdldpae.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBtY2ptYXpzaHBna2ZzZGxkcGFlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzI4MjYyNjQsImV4cCI6MjA0ODQwMjI2NH0.iclnKWpgA0QSIDuAMQnAIq6h7tGSewNdEqj1AxWDaPE